# FlintLab API Configuration
FLINT_API_BASE=https://staging.api.flintlab.io
FLINT_API_TOKEN=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6ImZsaW50LXBhdC1rZXktMSJ9.eyJzdWIiOiJhdXRoMHw2OGU2MzAwYzNkZWZlODg0NjE0YjNkODIiLCJzY29wZSI6ImZsaW50OmNsaSIsImlzcyI6Imh0dHBzOi8vZGV2LWE1NWVjbXl2MTF6NDdhaTgudXMuYXV0aDAuY29tIiwiYXVkIjoiaHR0cHM6Ly9zdGFnaW5nLWFwaS5mbGludGxhYi5pbyIsImlhdCI6MTc4MTQ5NjIyOSwiZXhwIjoxNzg5MjcyMjI5LCJqdGkiOiI2NjkyN2YyOS1hODMzLTRiYjgtODkwMi1iNzRiZDM5ZTNiMGEiLCJ0ZW5hbnRfaWQiOiJvcmdfNEhXRkxad1RrT0NlMDA0ayJ9.Hs73h0XbXgQnAi6n8aPOnRRtB7vT1SxbMFY8SiRCpnxqM3G0SHuHQN1ivdu7xhHocXcj_iWPIqShMQOdPJ-U9ccaKWrW7ILh5D11htFmMB6hlMGmbt1hG-nWerBAHbVBZWYl4LSH8LLXVF_24yMhbV1AhnunvmIMqfOr0iFtoxG0LMaeIa95i7bQyU0-tGFFICB2nNbJk8Dx_9PBqAG126xc1SNYS-N4iKThDY-ALCI4WRa1zWxowTnna68NGhLO3g3MsBTC2cPpX9oIYanswv0AMimaIqF9LFk9eYPswYjMH7v3nn3_yfX0Zac1GqMYiQ5ObpAoApesorQkNx_ZxA

# Test Configuration
WAIT_TIME_FOR_LOGS=20
LOG_QUERY_MINUTES=10
SEARCH_KEYWORD=device